{{> header }}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    jQuery.browser = {};
(function () {
jQuery.browser.msie = false;
jQuery.browser.version = 0;
if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
jQuery.browser.msie = true;
jQuery.browser.version = RegExp.$1;
}
})();
    jQuery(document).ready(function(){
        $("#date").datepicker();
    });
</script>
<section>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">CDE Creation</a>
        </li>
        <li class="breadcrumb-item active">Create a CDE</li>
      </ol>
      <div class="row mx-3">
        <div class="col-12">
                <h1>Create CDE</h1>
                <form name="registration" id="cde_create" action="/cde/create" data-toggle="validator" method="POST">
                
                <div class="form-group required">
                    <label class="control-label">First Name</label>
                    <input class="form-control" name="firstname" id="first_name" type="text" placeholder="First Name" required>
                    <p class="help-block text-danger"></p>
                </div>
                
                <div class="form-group required">
                    <label class="control-label">Last Name</label>
                    <input class="form-control" name="lastname" id="last_name" type="text" placeholder="Last Name" required>
                    <p class="help-block text-danger"></p>
                </div>
                    
                <div class="form-group required">
                    <label class="control-label">Email</label>
                    <input class="form-control" name="email" id="email" type="email" placeholder="Email Address" required>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group required">
                    <label class="control-label">Password</label>
                    <input class="form-control" name="password" id="password" type="password" placeholder="Password" required>
                    <p class="help-block text-danger"></p>
                </div>
                
                <div class="form-group required">
                    <label class="control-label">Phone Number</label>
                    <input class="form-control" name="phone" id="phone" type="tel" placeholder="Phone Number" required>
                    <p class="help-block text-danger"></p>
                </div>

                <div class="form-group required">
                    <label class="control-label">Age</label>
                    <input class="form-control" name="age" id="age" type="text" placeholder="Age" required>
                    <p class="help-block text-danger"></p>
                </div>

                <div class="form-group required">
                    <label class="control-label">Employee ID</label>
                    <input class="form-control" name="employee_id" id="employee_id" type="text" placeholder="Employee ID" required>
                    <p class="help-block text-danger"></p>
                </div>

                <div class="form-group required">
                    <label class="control-label">Date of Joining</label>
        <input class="form-control" id="date" name="joining_date" placeholder="MM/DD/YYY" type="text"/>
                    <p class="help-block text-danger"></p>
                </div>
                
                
                <div id="success"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-xl">Submit</button>
                </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>

{{> footer }}