{{> frontend_header }}

<div class="home-container">
  <div class="content" style="float:left;width:100%;margin:15%;">
    <h2>Manage your deliveries using RPS</h2>
  </div>
</div>

{{> frontend_footer }}