{{> header }}

<section>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">User Creation</a>
        </li>
        <li class="breadcrumb-item active">Create a User</li>
      </ol>
      <div class="row mx-3">
        <div class="col-12">
                <h1>Create User</h1>
                <form name="registration" id="user_register" action="/admin/user/create" data-toggle="validator" method="POST">
                
                <div class="form-group required">
                    <label class="control-label">First Name</label>
                    <input class="form-control" name="firstname" id="first_name" type="text" placeholder="First Name" required>
                    <p class="help-block text-danger"></p>
                </div>
                
                <div class="form-group required">
                    <label class="control-label">Last Name</label>
                    <input class="form-control" name="lastname" id="last_name" type="text" placeholder="Last Name" required>
                    <p class="help-block text-danger"></p>
                </div>
                              
                <div class="form-group required">
                    <label class="control-label">User Name</label>
                    <input class="form-control" name="username" id="username" type="text" placeholder="Username" required>
                    <p class="help-block text-danger"></p>
                </div>
                
                <div class="form-group required">
                    <label class="control-label">Password</label>
                    <input class="form-control" name="password" id="password" type="password" placeholder="Password" required>
                    <p class="help-block text-danger"></p>
                </div>
                
                <div class="form-group required">
                    <label class="control-label">Email</label>
                    <input class="form-control" name="email" id="email" type="email" placeholder="Email Address" required>
                    <p class="help-block text-danger"></p>
                </div>
                                
                <div class="form-group required">
                    <label class="control-label">Phone Number</label>
                    <input class="form-control" name="phone" id="phone" type="tel" placeholder="Phone Number" required>
                    <p class="help-block text-danger"></p>
                </div>
                                
                <div class="col-md-12">
                    <div class="form-group required">
                        <label class="" for="roles">Roles</label>
                    </div>
                    <div class="checkbox-inline">
                        <input type="checkbox" name="roles[]" value="1" id="user-create--administrator">
                        <label for="user-create--administrator">Administrator</label>
                    </div>
                    <div class="checkbox-inline">
                        <input type="checkbox" name="roles[]" value="2" id="user-create--customer">
                        <label for="user-create--customer">Customer</label>
                    </div>
                    <div class="checkbox-inline">
                        <input type="checkbox" name="roles[]" value="3" id="user-create--cde">
                        <label for="user-create--cde">Customer Delivery Executive</label>
                    </div>
                    <div class="checkbox-inline">
                        <input type="checkbox" name="roles[]" value="4" id="user-create--manager">
                        <label for="user-create--manager">Manager</label>
                    </div>
                </div>
                
                <div id="success"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-xl">Submit</button>
                </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>

{{> footer }}